[Unit]
Description=Aria2c Service Description
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
ExecStart=/bin/aria2c.sh

[Install]
WantedBy=multi-user.target
